<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ambiente</key>
	<string>Desarrollo</string>
    <key>Requests</key>
    <dict>
        <key>Produccion</key>
        <dict>
            <key>LOGIN</key>
            <string>https://urlprologin.gnp.com.mx/auth/login</string>
        </dict>
        <key>DES</key>
        <dict>
            <key>LOGIN</key>
            <string>http://urldeslogin.gnp.com.mx/auth/login</string>
        </dict>
    </dict>
</dict>
</plist>
